<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="LoginTest" >
        <classes>
            <class name="com.telran.qa.tests.LoginTest" />
        </classes>
    </test>
    <test name ="GroupTests">
        <classes>
            <class name="com.telran.qa.tests.GroupCreationTest"/>
            <class name="com.telran.qa.tests.GroupEditTest"/>
            <class name="com.telran.qa.tests.GroupDeleteTest"/>

        </classes>
    </test>
    <test name ="ContactTests">
        <classes>
            <class name="com.telran.qa.tests.ContactCreationTest"/>
            <class name="com.telran.qa.tests.ContactEditTest"/>
            <class name="com.telran.qa.tests.ContactDeleteTest"/>

        </classes>
    </test>

</suite>
